<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hzy.cnn.CustomView">
    <uses-sdk tools:overrideLibrary="androidx.camera.view,androidx.camera.camera2,androidx.camera.lifecycle,androidx.camera.core" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <application
        android:name=".application.BaseApplication"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="test"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:appComponentFactory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.hzy.cnn.CustomView.Test.FreshViewTest" >

        </activity>
        <activity android:name="com.hzy.cnn.CustomView.Test.AlipaySuccessViewTest" >

        </activity>
        <activity android:name="com.hzy.cnn.CustomView.Test.WavePlayTest" >

        </activity>

        <activity android:name="com.hzy.cnn.CustomView.Test.WaveViewTest" >

        </activity>
        <activity android:name=".Test.WaveBubblesViewTest" >

        </activity>
        <activity android:name=".Test.BannerViewTest" >

        </activity>
        <activity android:name=".Test.BezierDotIndicatorTest" >

        </activity>
        <activity android:name=".Test.BannerViewIndicatorTest" >

        </activity>
        <activity android:name=".Test.LabelLayoutTest" >

        </activity>
        <activity android:name=".Test.LoadDataAty" >

        </activity>
        <activity android:name=".Test.AniamtionTest" >

        </activity>
        <activity android:name=".Test.PhotoSelectActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>