<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hzy.cnn.CustomView">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hzy.cnn.CustomView.Test.FreshViewTest">

        </activity>
        <activity android:name="com.hzy.cnn.CustomView.Test.AlipaySuccessViewTest" >

        </activity>
        <activity android:name="com.hzy.cnn.CustomView.Test.WavePlayTest" >

        </activity>

        <activity android:name="com.hzy.cnn.CustomView.Test.WaveViewTest" >

        </activity>
        <activity android:name=".Test.WaveBubblesViewTest" >

        </activity>
        <activity android:name=".Test.BannerViewTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>